@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
}

body{
    height:auto;
    min-height: 100%;
}

html.has-scroll-smooth {
    overflow: hidden;
}
html.has-scroll-dragging,
html.has-scroll-dragging * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



a{
    @apply inline-block w-auto h-auto underline
}
ol > li,
ul > li{
    @apply h-auto text-white text-[24px] font-sans text-left;
}

p{
    @apply text-[18px];
    @apply md:text-[24px];
    @apply w-full h-auto text-white md:text-[24px] font-sans text-left mb-[10px];
}

h1{
    line-height: 1.3;
    @apply text-[40px];
    @apply xl:text-[50px];
    @apply w-full h-auto text-white font-sans text-left mb-[30px];
}
h2{
    line-height: 1.3;
    @apply text-[40px];
    @apply xl:text-[45px];
    @apply w-full h-auto text-white font-sans text-left mb-[30px];
}
h3{
    line-height: 1.3;
    @apply text-[30px];
    @apply xl:text-[40px];
    @apply w-full h-auto text-white font-sans text-left mb-[30px];
}
h4{
    line-height: 1.3;
    @apply text-[27px];
    @apply xl:text-[35px];

    @apply w-full h-auto text-white font-sans text-left mb-[30px];
}
h5{
    @apply text-[25px];
    @apply xl:text-[30px];


    @apply w-full h-auto text-white font-sans text-left mb-[30px];
}
h6{
    @apply text-[21px];
    @apply xl:text-[26px];
    @apply w-full h-auto text-white font-sans text-left mb-[30px];
}


.rich-text{
    @apply flex flex-col justify-center w-full h-auto
}
ol,
ul{
    @apply block w-full h-auto list-disc pl-[27px];
}




.scroll-animation.scroll-leave-animation{
    opacity: 0;
    transform: translate3d(0, -5vh, 0) scale3d(1, 1.025, 1);
}
span.scroll-animation{
    display: inline-block;
}
.scroll-animation{
    transition: transform 0.75s cubic-bezier(0.33, 1, 0.68, 1),
    opacity 0.75s cubic-bezier(0.33, 1, 0.68, 1);
}
.scroll-animation:not(.scroll-animated){
    opacity: 0;
    transform: translate3d(0, 5vh, 0) scale3d(1, 1.025, 1);
}